.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}
form{
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: space-around;
}
 input{
   width:70%;
   height: 50px;
   border: 2px solid blue;
   font-weight: bolder;
   font-size: 30px;

 }

 button{
  width: 200px;
  height: 30px;
  background-color: darkblue;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: wheat;
 }